.hotels{
    display:grid;
    grid-template-columns: [col1] 25% [col2] 25% [col3] 25% [col4] 25% ;
    grid-template-rows: [row1] 33.3% [row2] 33.3% [row3] 33.3%;
    grid:inherit;
}

.pins{
    grid-column: 4;
    grid-row: 1;
    height: 3rem;
    margin-top: 4rem;
    justify-self: right;
}

.filter{
    grid-column: 1;
    grid-row: 1;
    margin-top: 2rem;
}

.minPrice{
    grid-column: 2;
    grid-row: 1;
    margin: 4rem;
    min-width: 10rem;
    max-width: 10rem;
    float: left;
}

.priceFilter{
    grid-row: 1;
    grid-column: 3;
    margin-left: 40rem;

}

.maxPrice{
    grid-column: 3;
    grid-row: 1;
    margin: 4rem;
    min-width: 10rem;
    max-width: 10rem;
    float: left;
}

.hotel{
    grid-column: 2;
    /* grid-row: 2; */
    margin-top: 3rem;
    margin-right: 2rem;
    text-align: center;
    margin: 1rem;
    float: left;
    /* color: rgb(88, 214, 183); */
} 

.header{
    text-align: center;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 4rem;
    color: "rgb(12, 84, 66)";
    font-weight: "bolder";
}
